/* styling for image carousel */

<style>

  .carousel-container {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    width: 400px;
    height: 600px;
  }

  .carousel {
    position: relative;
    display: flex;
    width: auto;

  }

  .carousel-pic {
    position: relative;
    z-index: 50;
  }

  .carousel-left {
    opacity:0.2;
    position: absolute;
    color: gold;
    font-size: 4em;
    height: 100%;
    left: 0px;
    z-index: 90;
  }

  .carousel-right {
    opacity: 0.2;
    position: absolute;
    color: gold;
    font-size: 4em;
    height: 100%;
    right: 0px;
    z-index: 90;
  }

</style>
