/* main style sheet for page */

  .nav-box {
    height: 5%;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

  .nav {
    opacity: 0.8;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    padding: 10px;
    height: 5%;
    width: 100%;
    left:0;
    top: 0;
    z-index: 100;
  }

  .nav__link {
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-family: monospace;
  }

  .portfolio {
    opacity: 0.8;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: auto;
    width: 50px;
    padding: 10px;
    top: 70%;
    right:0;
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .portfolio__link {
    font-size: 50px;
    color: gold;
    padding: 5px;
  }
