/* main style sheet for page */

<style>

  body {
    
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
    color: HotPink;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

  .nav-bar {
    opacity: 0.8;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    padding: 10px;
    height: 50px;
    width: 100%;
    left:0;
    top: 0;
    z-index: 100;
  }

  .nav-link {
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-family: monospace;
  }

  .portfolio-bar {
    opacity: 0.8;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: auto;
    width: 50px;
    padding: 10px;
    top: 60%;
    right:0;
    z-index: 100;
  }

  .portfolio-link {
    font-size: 50px;
    color: gold;
    padding: 5px;
  }

  .carousel-shell {

  }

</style>
