/* main style sheet for page */

  .background {
    background: rgb(70, 130, 180, 0.8);
  }

  .nav-box {
    height: 50px;
    padding: 10px 0;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

  .nav {
    opacity: 0.8;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    padding: 10px;
    height: 50px;
    width: 100%;
    left:0;
    top: 0;
    z-index: 100;
  }

  .nav a {
    text-decoration: none; /* remove underlining of nav links */
  }

  .nav__link {
    color: black;
    font-variant: small-caps;
    font-size: 1.75em; /* NB. 1em * 16 gives font-size in pixels, so 1.75em = 28px */
    font-weight: bold;
    font-family: 'Nova Mono', monospace; /* use generic monospace if GFont 'Nova Mono' not supported */
  }

  .portfolio {
    opacity: 0.8;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: auto;
    width: 50px;
    padding: 10px;
    top: 70%;
    right:0;
    z-index: 100;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .portfolio__link {
    font-size: 50px;
    color: gold;
    padding: 5px;
  }
