<style>

  body {
    background-color: HotPink;
  }

  .banner {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
    color: HotPink;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

</style>
